src/data/Queteur.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT personnages (quéteur+)>
<!ELEMENT queteur (nom, image, dialogues)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ATTLIST queteur index ID #REQUIRED>
<!ELEMENT dialogues (queteDejaEnCours, avantQuete,(pendantQuete+),aprèsQuete,remerciement)>